{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Create Event</title>
        <link rel="stylesheet" type="text/css" href="{% static 'events/eventStyle.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'events/style.css' %}">

    </head>
    {% block content %}
    <body>
        <!--popup button-->
        <button id="openPopupButton">Create Event</button>

        <div id="popupOverlay" class="popup-overlay"></div>

        <div id="eventPopup" class="popup">
            <!--event creation form-->
            <form method="post" action="{% url 'events' %}">
                {% csrf_token %}

                <div class="form-field">
                    <label for="eventName">Event Name:</label>
                    {{ form.eventName }} 
                    <!-- form.eventName calling the form field from forms.py -->
                    <!-- <input type="text" id="eventName" name="eventName" maxlength="100" required> -->
                </div>

                <div class="form-field">
                    <label for="eventDate">Event Date:</label>
                    {{ form.eventDate }}
                    <!-- <input type="date" id="eventDate" name="eventDate" required> -->
                </div>

                <div class="form-field">
                    <label for="eventTime">Event Time:</label>
                    {{form.eventTime}}
                    <!-- <input type="time" id="eventTime" name="eventTime" required> -->
                </div>

                <div class="form-field">
                    <label for="eventDesc">Description: (max 100 words)</label>
                    {{form.eventDesc}}

                    <!-- <textarea id="eventDesc" name="eventDesc" rows="4" cols="50" required></textarea> -->
                </div>
                
                <div class="form-field">
                    <label for="inviteFriends">Invite Friends:</label>
                    {{ form.friends }}
                </div>
                
                <!-- <div class="form-field">
                    <label for="inviteFriends">Invite Friends:</label>
                    <ul class="friend-list">
                        {% for friend in form.friends.field.queryset %}
                        <li class="friend-list-item">
                            <label><input type="checkbox">{{friend}}</label>
                        </li>
                        {% endfor %}
                    </ul>
                </div> -->
                
                <div class="button-container">
                    <input type="submit" class="create-event" value="Create Event">
                    <button type="button" class="cancel" onclick="closePopupButton()">Cancel</button>
                </div>
            </form>
        </div>
        <script src="{% static 'events/eventCreation.js' %}"></script>
        <script src="{% static 'events/date_timeValidation.js' %}"></script>
    </body>
    {% endblock content %}
</html>