:root {
	--primary-color: #FBC000;
	--secondary-color: #1C152D;
	--red: #DA2B2B;
	--grey: #808080;
	--green: #8DCF6F;
	--blue: #3B82F6;
	--neutral-one: #F9F1D8;
--neutral-two: #FFFBF0;
}

.main title text {
	color: #000;
text-align: center;
font-family: Lexend Deca;
font-size: 96px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.title text {
	color: #000;

/* Title */
font-family: Lexend Deca;
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.subtitle text {
	color: #000;

/* Subtitle */
font-family: Lexend Deca;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.heading-one text {
	color: #000;

/* Heading 1 */
font-family: Lexend Deca;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.heading-two text {
	color: #000;

/* Heading 2 */
font-family: Lexend Deca;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.heading-three text {
	color: #000;
font-family: Lexend Deca;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.normal-text {
	color: #000;

/* Text */
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.container-header {
    display: flex;
    justify-content: center;  
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
}

.navbar {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 100;
    height: 80px;
    box-shadow: 0px 2px 5px rgba(209, 207, 207, 0.1);
    display: flex;  
    width: 100%;  /* take the full width of the parent container */
    padding: 0px 2%;  /* use percentage for padding to keep it responsive */
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.logo {
    width: 50px;
    height: auto;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    text-align: center;
    position: relative;
}

.nav-item a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #fff; 
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: #808080;
}

/* Example of a media query */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;  /* stack elements vertically on smaller screens */
        align-items: flex-start;
        height: auto;  /* let the height adjust automatically */
    }
    .nav-list {
        flex-direction: column;
    }
}
