{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="landing.css">
</head>

<body>
    <div class="content-wrapper">
    <!-- NAV BAR SECTION -->
    <div class="container-header">
        <div class="navbar">
            <a src="">
                <img class="logo" src="./img/logo.png" alt="Logo">
            </a>
            <ul class="nav-list">
                <li class="nav-item"><a href="{% url 'About' %}">About</a></li>
                <li class="nav-item"><a href="{% url 'Testimonials' %}">Testimonials</a></li>
                <li class="nav-item"><a href="{% url 'login' %}" class="btn-login">Login</a></li>
                <li class="nav-item"><a href="{% url 'register' %}" class="btn-register">Register</a></li>
            </ul>
        </div>
    </div>

    <!-- MAIN LANDING SECTION -->
    <div class="main-landing">
        <div class="text-teman-uni">Teman Uni</div>
        <div class="button-container">
            <a href="{% url 'login' %}" class="btn-login">Login</a>
            <a href="{% url 'register' %}" class="btn-register">Register</a>
        </div>
    </div>


    <!-- ABOUT US SECTION -->
    <div class="about-us">

        <!-- First Div -->
        <div class="about-section">
            <img src="./img/aboutus1.png" alt="Description of Image" class="picture">
            <div>
                <div class="heading-text">What is Teman Uni?</div>
                <p class="paragraph-text">Teman Uni is a student-created web matchmaking platform connecting university students based on shared interests and backgrounds.</p>
            </div>
        </div>

        <!-- Second Div -->
        <div class="about-section">
            <div>
                <div class="heading-text">Why Teman Uni?</div>
                <p class="paragraph-text">We created Teman Uni to bridge global gaps among international students by fostering connections, support, and shared experiences.</p>
            </div>
            <img src="img/aboutus2.png" alt="Description of Image" class="picture">
        </div>

        <!-- Third Div -->
        <div class="about-section">
            <div class="heading-text">We hope you can...</div>
            <div class="images">
                <img src="img/befriend.png" alt="Description of Image">
                <img src="img/connect.png" alt="Description of Image">
                <img src="img/thrive.png" alt="Description of Image">
            </div>
        </div>
        
    </div>

<!-- TESTIMONIAL SECTION -->
<div class="testimonials-container">
    
    <!-- First Testimonial -->
    <div class="testimonial-block">
        <img src="{% static 'path_to_testimonial_image1.jpg' %}" alt="Person's Name" class="testimonial-image">
        <div class="testimonial-text">
            <h2 class="testimonial-heading1">Rebecca, 18</h2>
            <h3 class="testimonial-heading2">Munich to Melbourne</h3>
            <p class="testimonial-paragraph">"Teman Uni made my transition to a new country so much easier! I found friends with similar interests and been having a blast!</p>
        </div>
    </div>

    <!-- Second Testimonial -->
    <div class="testimonial-block">
        <img src="{% static 'path_to_testimonial_image1.jpg' %}" alt="Person's Name" class="testimonial-image">
        <div class="testimonial-text">
            <h2 class="testimonial-heading1">Eliott, 23</h2>
            <h3 class="testimonial-heading2">France to Melbourne</h3>
            <p class="testimonial-paragraph">"As an international student, Teman Uni's matching system was perfect. Connected with students from my country and it made me feel at home!"</p>
        </div>
    </div>

    <!-- Third Testimonial -->
    <div class="testimonial-block">
        <img src="{% static 'path_to_testimonial_image1.jpg' %}" alt="Person's Name" class="testimonial-image">
        <div class="testimonial-text">
            <h2 class="testimonial-heading1">Anh, 21</h2>
            <h3 class="testimonial-heading2">Vietnam to Melbourne</h3>
            <p class="testimonial-paragraph">"Teman Uni helped me meet some incredible people at a study group event. Highly recommend if you were feeling lost like I was!"</p>
        </div>
    </div>

    <!-- Fourth Testimonial -->
    <div class="testimonial-block">
        <img src="{% static 'path_to_testimonial_image1.jpg' %}" alt="Person's Name" class="testimonial-image">
        <div class="testimonial-text">
            <h2 class="testimonial-heading1">Pedro, 19</h2>
            <h3 class="testimonial-heading2">South Africa to Melbourne</h3>
            <p class="testimonial-paragraph">“Navigating university life in a new country was daunting, but Teman Uni changed that for me. I found new friends who shared my hobbies!”</p>
        </div>
    </div>

<!-- CONTACT US SECTION -->
<div class="contact-us" style="background: var(--secondary-colour-dark, #1C152D);">

    <!-- Left Side -->
    <div class="contact-left">
        <img src="{% static 'path_to_logo.jpg' %}" alt="Website Logo" class="contact-logo">
        <p class="catchphrase">Connect Globally, Befriend Locally</p>
        <div class="social-media-logos">
            <a href="your_instagram_link"><img src="{% static 'instagram_logo.jpg' %}" alt="Instagram Logo"></a>
            <a href="your_facebook_link"><img src="{% static 'facebook_logo.jpg' %}" alt="Facebook Logo"></a>
            <a href="your_twitter_link"><img src="{% static 'twitter_logo.jpg' %}" alt="Twitter Logo"></a>
        </div>
        <p class="footer-links">FAQ | Support | Terms & Conditions<br>Privacy Policy | Guidelines</p>
    </div>

    <!-- Right Side -->
    <div class="contact-right">
        <p class="quick-links">Quick Links</p>
        <a href="{% url 'About' %}" class="footer-nav-link">About</a>
        <a href="{% url 'Testimonials' %}" class="footer-nav-link">Testimonials</a>
        <a href="{% url 'login' %}" class="footer-nav-link">Login</a>
        <a href="{% url 'register' %}" class="footer-nav-link">Register</a>
    </div>

</div>
</body>

</html>
