{% load static %}

<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="{% static 'users/login.css' %}">

</head>

<div class="split-right">
    <div class="login-form">

        <div class="image-1">
            <img src="{% static 'users/Teman-uni-logo.png' %}" alt="Teman-uni-logo" width="165px" height="120px">
        </div>

        <div class="Welcome-Back">
            Welcome Back!
        </div>

        <div>
            <div class="email">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Enter your email" required>
            </div>
        </div>

        <div>
            <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required>
                <div class="Cant-login"><a href="forgot-password.html">Can't log in?</a></div>
            </div>
        </div>

        <div class="login">
            <!-- MFA Link -->
            <a href="MFA.html">
                <input type="submit" value="Log in">
            </a>

        </div>

        <div class="create-account">
            <a href="register.html">Create an account</a>
        </div>
            
    </div>
</div>

</html>