{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProfilePage</title>
    <link rel="stylesheet" href="bootstrap3.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap">
    <!-- <link rel="stylesheet" href="{% static 'home/chat.css' %}"> -->
    <link rel="stylesheet" href="{% static 'profile/profile.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'profile/profile.js' %}"></script>
    <script src="edit_profile.js"></script>
</head>


<body>
    <!-- NAV BAR SECTION -->
    <div class="container-header">
      <div class="navbar">
        <a href="{% url 'home' %}"><img class="logo" src="{% static 'profile/logo.png' %}" alt="Logo"></a>
          <ul class="nav-list">
              <li class="nav-item"><a href="">About</a></li>
              <li class="nav-item"><a href=""><img src="{% static 'profile/message.png' %}" alt="Messages"></a></li>
              <li class="nav-item"><a href="{% url 'events' %}"><img src="{% static 'profile/events.png' %}" alt="Events"></a></li>
              <li class="nav-item"><a href="{% url 'profile' %}"><img src="{% static 'profile/profile.png' %}" alt="Profile"></a></li>
              <li class="nav-item"><a href=""><img src="{% static 'profile/notification.png' %}" alt="Notifications"></a></li>
              <li class="nav-item"><a href="{% url 'logout' %}"><img src="{% static 'profile/logout.png' %}" alt="Log Out"></a></li>
          </ul>
      </div>
    </div>
  
  
    <div id="app" class="app">
  
      <!-- LEFT SECTION -->
      
  <section id="main-left" class="main-left">
        <!-- header -->
        <div id="header-left" class="header-left">
          <h1>Profile Page</h1>
        </div>
        <div class="picture">
          <img src="{% static 'profile/matchpic.png' %}" alt="Match Picture" width="170px">
        </div>
  
        <!-- <div>
          <hr class="line">
        </div> -->
  
  
  
  </section>
    <!-- RIGHT SECTION -->
    <section id="main-right" class="main-right">
        <div id="header-right" class="header-right">
            <!-- match picture -->
            <img src="{% static 'profile/matchpic.png' %}" alt="Match Picture">
            <!-- match name -->
            <div class="text-container">
                <span class="match-name">{{profile.first_name}} {{profile.last_name}}</span>
                <span class="match-detail">📍{{profile.location}}</span>
                <span class="match-detail">{{profile.university}}</span>
                <span class="match-detail">Studying {{profile.course}}</span>
            </div>
  
            <div class="dropdown" id="dropdown1">
              <div class="title" onclick="toggleDropdown('dropdown1')"><strong>Interests</strong></div>
              
              <div class="content">
                {% for interest in interests %}
                <span class="pill">{{ interest }}</span>
                {% endfor %}
              </div>
          </div>

          <div class="dropdown" id="dropdown2">
              <div class="title" onclick="toggleDropdown('dropdown2')"><strong>Languages</strong></div>
              
              <div class="content">
                {% for language in languages %}
                <span class="pill">{{ language }}</span>
                {% endfor %}
              </div>
          </div>
          <button onclick="openModal('modal1')">Edit Details</button>
      
          <div id="modal1" class="modal">
              <div class="modal-content">
                  <p>Do you want to change your profile info?</p>
                  <button onclick="openModal('modal2')">Yes</button>
                  <button onclick="closeModal('modal1')">No</button>
              </div>
          </div>
      
          <div id="modal2" class="modal">
          <div class="modal-content">
              <p>Select profile details:</p>
              <div class="scroll-box">
                  <label class="pill"><input type="checkbox" value="Books"> Books</label>
                  <label class="pill"><input type="checkbox" value="Gaming"> Gaming</label>
                  <label class="pill"><input type="checkbox" value="Pets"> Pets</label>
                  <label class="pill"><input type="checkbox" value="Travel"> Gaming</label>
              </div>
              <button onclick="updateProfile()">Update Profile</button>
          </div>
          </div>
      
  
        </div>
  
    </section>
  
  
    
  
  
      <!-- jQuey, Popper, BootstrapJS -->
      <script src="bootstrap3.3/js/jquery-3.3.1.min.js"></script>
      <script src="bootstrap3.3/js/bootstrap.min.js"></script>
  </body>


</html>